:root {
    --primaryColor: #333333;
    --secondaryColor: #ffffff;
}

html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    font-family:Calibri;
}

header {
    background-color: #333333;
    color: #ffffff;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#Logo {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}

#Logo img{
    border:inherit;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
    height: 60px;
}

        nav ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

            nav ul li a {
                font-size: 20px;
                padding: 1rem;
                margin-right: 16px;
                border-radius: 5px;
                border-color: #ffffff;
                padding: 1rem;
                text-decoration: none;
                display: block;
            }

#textHeader{
    color: #ffffff;
}

/*End header*/
/*================================================================*/
/*================================================================*/
/*Content main*/

.CenterPanel{
    margin: 100px 200px;
    display: flex;
    align-content: center;
    justify-content: center;
}

    .CenterPanel #mainContent {
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .CenterPanel #mainContent h2 {
        width: 300px;
        display: flex;
        justify-content: center;
        
    }

    .CenterPanel #mainContent p {
        width: 300px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align:justify;
        text-align:justify;
    }

#MainContent_CTA_button {
    width: 192px;
    height: 32px;
    background-color: #f4da4c;
    border: medium;
    border-radius: 5px;
    border-style: ridge;
}





footer {
    background-color: #333333;
    color: white;
    margin: 0 auto;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

footer p {
    display: block;
    text-align: center;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

